<label><i class="bi bi-paperclip"></i>Archivos Adjuntos </label>
<button onclick="manejarClickAgregarArchivoAdjunto()" class="btn btn-secondary btn-sm"><i class="bi bi-plus"></i></button>

<input type="file" id="archivoATarea" multiple style="display: none" onchange="manejarSeleccionArchivoTarea(event)" />

<div data-bind="foreach: archivosAdjuntos">
    <div>
        <div style="cursor: pointer" class="fw-bold"
             data-bind="text: titulo, hidden: modoEdicion, click: manejarClickTituloArchivoAdjunto">

            <div data-bind="visible: modoEdicion, event:{focusout: manejarFocusoutTituloArchivoAdjunto}">
                <input name="txtArchivoAdjuntoTitulo" type="text" class="form-control" data-bind="value:titulo, attr:{'data-id': id}" />

            </div>

            <div>
                Agregado <span data-bind="text: publicado"></span>  - 
                <span class="fw-bold" style="cursor: pointer" data-bind="click: manejarClickBorrarArchivosAdjuntos"> Borrar</span> -
                <span class="fw-bold" style="cursor: pointer" data-bind="click: manejarClickDescargarArchivosAdjuntos"> Descargar</span>
            </div>
        </div>
    </div>
</div>